<h1 align="center">Welcome to Givr</h1>
<h3 align="center">Log In</h3>
<%=form_tag sessions_path%>
<div class="field" align="center">
  <%=label_tag :email%>
  <%=text_field_tag :email, params[:email]%>
</div>
<div class="field" align="center">
  <%=label_tag :password%>
  <%=text_field_tag :password, params[:password], type: "password"%>
</div>
<div align="center"><%=submit_tag("Log In")%></div>

