<h1 class="event_headline">Update <%= @event.name %></h1>
<div class="event_form"><%=form_for @event do |f|%>
<p>Which calendar is this event for?</p>
<%=f.collection_select :calendar_id, @calendars, :id, :name%>
<p><%=f.label :name%>
<%=f.text_field :name%></p>
<p><%=f.label "Date(YYYY-MM-DD)"%>
<%=f.text_field :date%></p>
<%=f.label "Notes"%><br>
<%=f.fields_for :notes do |note|%>
<%=note.text_area :content%><br><br><br>
<%end%>
<button class="submit-btn">Update Event </button><br>
</div>
<p class="delete_path"><%=link_to "Delete This Event", destroy_event_path(@event), method: "delete"%></p>
<%end%>

