

<p><%=@event.name%>: <%=@event.date.strftime("%B")%> <%=@event.date.strftime("%e")%>, <%= @event.date.strftime("%Y") %><p>

<% if @notes.any?%>
<p>You have saved the following notes for this event</p>
<ul>
<%@notes.each do |note|%>
<li><%=note.content%></li>
<%end%>
</ul>
<%else%>
<p>You do not have any notes saved for this event yet! Add some today!</p>
<%end%>





<p>This event is currently in your <%=link_to @event.calendar.name, @event.calendar%> calendar.</p><br>

<%=link_to "Edit this Event", edit_event_path(@event)%>