<h1 class="calendar_headline">Edit <%=@calendar.name%></h1>
<div align="center"><%=form_for @calendar do |f|%>
<%=f.label :name%>
<%=f.text_field :name%><br>
<%=f.label :description%>
<%=f.text_area :description%><br>
<button class="submit-btn">Update Calendar</button>
<%end%>
</div>
<br><br>
<p class="delete_path"><%=link_to "Delete This Calendar", destroy_calendar_path(@calendar), method: 'delete'%></p>